/* header styles */
.background{
  background-color: #EDEFFA;
}

.home_header {
  background-image: radial-gradient(
      circle at top right,
      rgba(255, 255, 255, 0) 20%,
      rgba(1, 77, 183, 0.9) 100%
    ),
    url(../../assets/images/pharmacy_home.jpg);
  z-index: -1;
  min-height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  clip-path: polygon(0% 0%, 100% 0, 100% 87%, 33% 100%, 0 88%);
  padding-top:150px !important;
}

.home_header_container {
  padding-top: 110px !important;
}

.home_header_headline {
  font-weight: 600 !important;
  text-transform: uppercase !important;
  font-size: 20px !important;
  color: rgba(255, 255, 255, 0.7) !important;
  letter-spacing: 2px !important;
  line-height: 1.5em !important;
  padding-bottom: 10px;
}

.home_header_title {
  font-weight: 700 !important;
  font-size: 50px !important;
  line-height: 1.4em !important;
  padding-bottom: 10px !important;
}

.home_header_description {
  padding-bottom: 15px !important;
}

.home_header_button {
  border-radius: 100px !important;
  font-size: 14px;
  font-weight: 700 !important;
  background-color: #ff5473 !important;
  padding: 20px !important;
}

.home_header button:hover {
  background-color: #ff6b86 !important;
}

/* end of header styles */

/* about styles */
.home_about {
  min-height: 65vh !important;
  padding: 100px !important;
}
.home_about_container {
  
  align-items:center !important;
  justify-content:center !important;
  padding-bottom: 50px !important;
}
.home_about .MuiGrid-container {
    text-align: center;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}
.home_about_header{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffb342!important;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-align: center !important;
}

.home_about_title{
  font-weight: 700 !important;
  font-size : 40px !important;
  padding-bottom: 10px;
}

.home_about_desc{
  max-width: 700px;
  color: #666 !important;
}
.home_about_card{
  /* max-height: 1000px; */
  padding-left: 50px;
  padding-right: 50px;
 
  justify-content: center !important;
}

@media only screen and (max-width: 767px)
{
  .home_about_title {
    font-size: 24px !important;
}
.home_about {
  padding:50px !important;
}
.home_about_desc{
  max-width: 100%;

}

}

/* end of about styles */

/* footer styles */
.home_footer {
  background-image: radial-gradient(
      circle at top right,
      rgba(1, 77, 183, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(../../assets/images/pharmacy_footer.jpg) !important;
  min-height: 80vh !important;
  clip-path: polygon(26% 1%, 100% 10%, 100% 100%, 0 100%, 0 10%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 150px !important;
  color: white;
}

.home_footer_container {
  padding-left: 100px !important;
  padding-right: 100px !important;
  margin-top: 10px !important;
}

.home_footer_icons {
  border-radius: 100% !important;
  background-color: var(--icon_color);
  padding: 25px !important;
  font-size: 25px !important;
}

.icon_content {
  color: var(--icon_color);
}
.align_item {
  align-items: center !important;
  text-align: center !important;
}

.home_footer_button {
  border-radius: 100px !important;
  font-size: 14px;
  font-weight: 700 !important;
  padding: 20px !important;
}

.home_footer .btn_email {
  background-color: white;
  color: #666;
  margin-bottom: 20px !important;
  text-transform: none !important;
  text-align: center !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.home_footer .btn_subscribe {
  background-color: var(--icon_color);
  text-transform: none !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.icons_container {
  margin-top: 20px !important;
}

.icon_header {
  font-weight: 500 !important;
  margin-bottom: 10px !important;
}

.subscribe_header {
  font-weight: 700 !important;
  margin-bottom: 20px !important;
}

input {
  text-align: center !important;
}

/* end of footer styles */

/* media queries */

@media (min-width: 1366px) {
  .home_footer .btn_email {
    max-width: 80%;
  }
  .home_footer .btn_subscribe {
    max-width: 80%;
  }
}

/* end of media queries */
