.customMenu {
  top: 57px !important;
}

.MuiMenu-paper {
  min-width: 500px !important;
  padding: 2% !important;
  border-top: 3px solid #2ea3f2 !important;
}

@media only screen and (max-width: 400px) {
  .customMenu {
    top: 53px !important;
  }
  .MuiMenu-paper {
    min-width: 300px !important;
  }
}

.MuiPaper-elevation24 {
  box-shadow: 0 0 30px rgba(7, 51, 84, 0.17) !important;
}
